<%= form_with model: article do |form|%>
  <div class="forms container">
    <div class="field form-group">
      <%= form.label :title, class: "h4", style: "margin-top: 3%;"%><br>
      <%= form.text_field :title, class: "form-control", style: "margin-bottom: 2%;" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="field form-group">
      <%= form.label :body, class: "h4" %> <br>
      <%= form.text_area :body, class: "form-control" %> <br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <select class="form-select" aria-label="Default select example" name="article[status]" id="article_status"><option selected="selected" value="public">public</option>
    <option value="private">private</option>
    <option value="archived">archived</option></select> <br>

    <div class="actions">
      <%= form.submit class:'btn btn-primary' %>
      <a class="btn btn-primary" href="<%= root_path %>"> Cancel </a>
    </div>
  </div>
<% end %>