<%= form_with model: article do |form|%>
  <div class="forms container">
    <div class="field form-group">
      <%= form.label :title, class: "h4", style: "margin-top: 3%;"%><br>
      <%= form.text_field :title, class: "form-control", style: "margin-bottom: 2%;" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="field form-group">
      <%= form.label :body, class: "h4" %> <br>
      <%= form.text_area :body, class: "form-control" %> <br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit class:'btn btn-primary' %>
    </div>
  </div>
<% end %>