<br>
<h1 style="margin-left: 5%; margin-top: 2%;">Archived articles</h1>

<h4 style="margin-left: 5%; margin-top: 2%;"> All of the <%= Article.arch_count %> archived posts are here!</h4>

<% @articles.each do |article| %>
	<div class="row no-gutters bg-purple position-relative container-ind" style="margin-left: 5%; margin-top: 2%">
	  <div class=" p-4">
	    <h3 class="mt-0"> <%= article.title %> </h3>
	    <% if article.body.length <= 260 %>
	    	<p> <%= article.body %> </p>
	    <% elsif %>
	    	<p> <%= article.body.slice(0..260) + "..."%> </p>
	    <% end %>
	    <a href="<%= article_path(article) %>" class="stretched-link"></a>
	  </div>
	</div>
<% end %>

<a class="btn btn-primary" style="margin-left: 5%; margin-top: 2%;" href=" <%= root_path %>"> Back </a>